 
a{
    margin-top:60px;
    margin-left:80px;
    text-decoration: none;
    margin-right:30px;
      
}
 
body
{  background-image: linear-gradient(330deg, rgba(154, 255, 255, 0), rgba(154, 255, 255, 1));
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size:20px;
font-weight: 500;}
h1{
    margin-left:40px;
    
    
}
#product{
    margin-left:300px;
}
    #logo{
        width:60px;
        height:40px;
       margin-right:0px;
       align-content:left;
    }
 
 
#image{
    align-content: center;
     margin-top:40px;
     margin-left:220px;
     margin-right:220px;
}
body
{  background-image: linear-gradient(330deg, rgba(154, 255, 255, 0), rgba(154, 255, 255, 1));
    color: black;
flex-wrap: wrap;
}
    
 
 