.content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
}

h2 {
    text-align: center;
}

li {
    display: inline;
    list-style-type: none;
    font-weight: 700;
}

ul {
    text-align: center;
}

li > a {
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
}

img {
    margin-left: 50px;
    margin-right: 50px;
    width: 500px;
    height: 300px;
    border-radius: 10px;
}
