
#product{
    margin-left:300px;
}
    #logo{
        width:60px;
        height:40px;
       margin-right:0px;
       align-content:left;
    }
 
 
#image{
    align-content: center;
     margin-top:40px;
     margin-left:220px;
     margin-right:220px;
}   
 
 