* {
     /* Page Format */
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

/* Smooth scrolling */
html,
body {
     scroll-behavior: smooth;
}

body {
     background-image: linear-gradient(330deg, rgba(154, 255, 255, 0), rgba(154, 255, 255, 1));
     color: black;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-weight: 500;
     font-size: 20px;
}

h1, h3 {
     color: navy;
     text-align: center;
     padding: 10px;
}

p {
     padding: 15px 50px;
}

a {
     margin-left: 80px;
     margin-right: 80px;

}

 #logo {
      width: 40px;
      height: 40px;
      margin-right: 0px;
      align-content: center;
 }

h1 {
     margin-left: 50px;

     font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content {
     display: flex;
     flex-flow: row wrap;
     justify-content: center;
     margin: 0 auto;
     width: 80%;
}

.content > div {
     width: 30%;
}

img {
     width: 400px;
     height: 500px;
     border-radius: 10px;
}

/* Media query to stack divs when screen is smaller than 1200px */
@media screen and (max-width: 1200px) {

     .content > div {
          width: 100%;
     }
}