body {
    background-color:rgb(126, 186, 223);
    font-family: Arial,
    sans-serif;
    font-size: 18px;
    margin-left: 25px;
}

#maskedup {
    text-shadow: 2px 2px 5px;
    font-size: 32pt;
    word-spacing: 10px;
    letter-spacing: 2px;
    font-family: Arial, san serif;
    animation-name: colorchange;
    animation: colorchange 8s infinite;
    display: flex;
    justify-content: center;
}

@keyframes colorchange {
    from {color:slateblue;}
    to {color: mediumblue;}
}

.Mask > div {
    width: 400px;
    height: 400px;
}

.Mask {
    display: flex;
    justify-content: center;
}

.paragraph > div {
    padding: 50%;
}

#paragraph2 > div {
    margin-left: 25%;
    padding-left: 50%;
}

.NavEle {
    display: inline
  }

  a{
    margin-left:80px;
    margin-right:80px;
    
}
img{
    align-content: center;
     margin-top:50px;
     margin-left:150px;
     margin-right:80px;
}
body
{  background-image: linear-gradient(330deg, rgba(154, 255, 255, 0), rgba(154, 255, 255, 1));
    color: black;}
    