h2 {
    text-indent: 50px;
    color: navy;
}

.store > div {
    width: 5%;
    height: 5%;
    border: 15px;
    display: flex;
    justify-content: center;
}

img{
    align-content: center;
    margin-top:50px;
    margin-left:150px;
    margin-right:80px;
    border-radius: 10px;
}