<<<<<<< HEAD
.banner {
    width: 100%;
    height: 780px;
    border: 1px hidden;
    box-sizing: border-box;
}

#warning {
    text-shadow: 2px 2px 5px;
    font-size: 32pt;
    letter-spacing: 2px;
font-family: Arial, san serif;
animation-name: colorchange;
animation: colorchange 1s infinite;
}

@keyframes colorchange {
    from {color:slateblue;}
    to {color: mediumblue;}
}
.Mask > div {
    margin: 50px;
    padding: 50px;
    height: 300px; 
    width: 300px; 
    border: hidden;
    box-sizing: border-box;
}
.Mask {
    display: flex;
    text-align: center;
}

body {
    background-color: gold;
    font-family: Arial, sans-serif;
    font-size: 18pt;
=======

#warning {
    text-shadow: 2px 2px 5px;
    font-size: 24pt;
    letter-spacing: 2px;
font-family: Arial, san serif;
animation-name: colorchange;
animation: colorchange 1s infinite;
}

#warning {
    display: flex;
}

@keyframes colorchange {
    from {color:slateblue;}
    to {color: mediumblue;}
}
.Mask > div {

    margin: 25px;
    padding: 20px;
    height: 300px; 
    width: 300px; 
}
.Mask {
    display: flex;
}

body {
    font-family: Arial, sans-serif;
    font-size: 18pt;
>>>>>>> 1c874dbfa5da54036eef81c5bb0a1b8dac954746
}