
#warning {
    text-shadow: 2px 2px 5px;
font-family: Arial, san serif;
color:blue;
}
.Mask > div {

    margin: 25px;
    padding: 20px;
    height: 300px; 
    width: 300px; 
}
.Mask {
    display: flex;
}

body {
    font-family: Arial, sans-serif;
    font-size: 18pt;
}