/* ----- Group Project CSS Stylesheet ----- */

* { /* Page Margins */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html { /* Smooth Scrolling */
    scroll-behavior: smooth;
}

body {
    background-color: gold;
    font-family: Arial,
    sans-serif;
    font-size: 18px; 
    /* Fixed from points to pixels */
}

header {
    width: 100%;
    height: auto;
}

nav {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
    padding: 25px 15px;
}

.banner > img {
    width: 100%;
    height: 450px;
}

/* Nav Link Area */
.links {
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.links li {
    display: inline;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px;
    margin: 10px;
}

.links a {
    text-decoration: none;
    color: purple;
}

a:hover {
    color:rebeccapurple;
}

#flight {
    display: flex;
    justify-content: right;
}

#maskedup {
    text-shadow: 2px 2px 5px;
    font-size: 32pt;
    word-spacing: 10px;
    letter-spacing: 2px;
    font-family: Arial, san serif;
    animation-name: colorchange;
    animation: colorchange 8s infinite;
    display: flex;
}

@keyframes colorchange {
    from {color:slateblue;}
    to {color: mediumblue;}
}
.Mask > div {
    border: hidden;
}

.Mask {
    display: flex;
    justify-content: center;
}

.Mask > img {
    width: 800px;
    height: 800px;
    /* fixed sizing of centered image. */
}

/* 1/7/22: Tim helping out the css for homepage */

/* 1. Removing inline css and placing it in this file so it works.

   2. Getting a working nav element onto the homepage.
*/